
    body {
        display: flex;
        justify-content: center;
        padding: 0px 20px;
        align-items: center; 
        text-align: center;
      }

.inp{
    padding: 5px 15px;
    margin: 5px;
}

.button{
    margin-top: 15px;
    padding: 3px 30px;
}